//npm.pkg.github.com/:_authToken=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
# registry=https://npm.pkg.github.com/hb-nasiruddin
@hbnarayana:registry=https://npm.pkg.github.com
@hb-nasiruddin:registry=https://npm.pkg.github.com